{% extends 'main/layout.html' %}


{% block title  %}Про нас{% endblock %}

{% block content  %}
<div class="features_2">
<h2>Веб-приложение для проведения тренировочного ЕГЭ по информатике</h2>
    <p>Область применения – веб-приложение может применяться в школах, лицеях, гимназиях для подготовки учеников к сдаче ЕГЭ.
Полное наименование разрабатываемого приложения – Разработка веб-приложения для проведения тренировочного ЕГЭ по информатике.
Краткое наименование приложения – «INFЕГЭ».

    </p>

    <button class="btn btn-warning ">Войти</button>
    <h6>Разработчик – Пяткова Вероника Андреевна, студентка 4 курса ФМФ ФГБОУ ВО «БГПУ».</h6>
    <h6>Заказчик – Благовещенский государственный педагогический университет.</h6>
<h6>Плановый срок начала разработки приложения – 01.10.2023.</h6>
<h6>Плановый срок окончания разработки приложения – 04.12.2023.</h6>
</div>

{% endblock %}