{% extends 'main/layout.html' %}


{% block title  %}{{ title }}{% endblock %}

{% block content  %}
<div class="features">
<h2>{{ title }}</h2>
    <p>Главным назначением веб-приложения «INFЕГЭ» является обеспечение школьников и преподавателей ФГБОУ ВО «БГПУ» доступа к решению типовых заданий ЕГЭ по информатике.
Целью создания системы «INFЕГЭ» является проведение пробного дистанционного экзамена ЕГЭ по информатике, чтобы объективно оценить подготовку школьников, проанализировать результаты и скорректировать процесс подготовки, а также отслеживать статистику.
</p>

    <button class="btn btn-warning ">Войти</button>


</div>


{% endblock %}