{% extends 'main/layout.html' %}


{% block title  %}Список учеников{% endblock %}

{% block content  %}
<div class="features">
<h2>Список учеников</h2>
    <p>Главным назначением веб-приложения «INFЕГЭ» является обеспечение школьников и преподавателей ФГБОУ ВО «БГПУ» доступа к решению типовых заданий ЕГЭ по информатике.
Целью создания системы «INFЕГЭ» является проведение пробного дистанционного экзамена ЕГЭ по информатике, чтобы объективно оценить подготовку школьников, проанализировать результаты и скорректировать процесс подготовки, а также отслеживать статистику.
</p>
    {% if students%}
    {% for el in students%}
    <div class="alert alert-warning">
        <h3>{{ el.name_student}}</h3>
        <p>Обучается в {{ el.number_class}} классе, Дата рождения: '{{ el.date_student}}'</p>
    </div>
    {% endfor%}
    {% else%}
    <p>Список учеников пуст!</p>
    {% endif %}

</div>


{% endblock %}