{% extends 'main/layout.html' %}


{% block title  %}Список учеников{% endblock %}

{% block content  %}
<div class="features">
<h2>Список учеников</h2>
    {% if students%}
    {% for el in students%}
    <div class="alert alert-warning">
        <h3>{{ el.name_student}}</h3>
        <p>Обучается в {{ el.number_class}}{{ el.word_class}} классе. Логин {{ el.login1 }}. Пароль {{ el.password1 }} </p>
    </div>
    {% endfor%}
    {% else%}
    <p>Список учеников пуст!</p>
    {% endif %}

</div>


{% endblock %}